Repository ueckoken/plarail2023, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, hardware, dashboard, video-sender, infura, cicd, documentation

.github/labeler.yml:

backend:
  - any:
      - "backend/**"

hardware:
  - any:
      - "hardware/**"

dashboard:
  - any:
      - "frontend/dashboard/**"
      - "frontend/editor/**"
video-sender:
  - any:
      - "frontend/video-sender/**"
infura:
  - any:
      - "infura/**"
cicd:
  - .github/**/*
documentation:
  - README.md
  - "documents/**/*"

remove target for ci
  hardware/esp32-cam-udp/platformio.ini
Labels: hardware

remove target for ci
  hardware/esp32-cam-udp/platformio.ini
Labels: hardware

http.Serverはcontextがdoneしたときにいい感じにエラーを返してくれない
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

http.Serverはcontextがdoneしたときにいい感じにエラーを返してくれない
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

ioutilはDeprecated
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

ioutilはDeprecated
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

コメントを追加
  backend/state-manager/cmd/main.go
Labels: backend

コメントを追加
  backend/state-manager/cmd/main.go
Labels: backend

add typescript buf
  frontend/dashboard/package.json
  frontend/dashboard/proto/state/v1/block_pb.ts
  frontend/dashboard/proto/state/v1/point_pb.ts
  frontend/dashboard/proto/state/v1/state_connectweb.ts
  frontend/dashboard/proto/state/v1/stop_pb.ts
  frontend/dashboard/proto/state/v1/train_pb.ts
  pnpm-lock.yaml
  proto/Makefile
  proto/buf.gen.yaml
Labels: none

add typescript buf
  frontend/dashboard/package.json
  frontend/dashboard/proto/state/v1/block_pb.ts
  frontend/dashboard/proto/state/v1/point_pb.ts
  frontend/dashboard/proto/state/v1/state_connectweb.ts
  frontend/dashboard/proto/state/v1/stop_pb.ts
  frontend/dashboard/proto/state/v1/train_pb.ts
  pnpm-lock.yaml
  proto/Makefile
  proto/buf.gen.yaml
Labels: none

Remove ESP32 Cam UDP CI workflow
  .github/workflows/esp32-cam-udp-build-check.yaml
Labels: cicd

Remove ESP32 Cam UDP CI workflow
  .github/workflows/esp32-cam-udp-build-check.yaml
Labels: cicd

DBとmqttのコネクションを使い回すようにした
  backend/onetime/seed-data/main.go
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  backend/state-manager/pkg/db/db_test.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler_test.go
  backend/state-manager/pkg/operation/operation.go
Labels: backend

DBとmqttのコネクションを使い回すようにした
  backend/onetime/seed-data/main.go
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  backend/state-manager/pkg/db/db_test.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler_test.go
  backend/state-manager/pkg/operation/operation.go
Labels: backend

fix conflict
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

Fix MQTT error and add error logging
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

Fix MQTT error and add error logging
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

fix conflict
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

contextの名前を変える
  backend/state-manager/cmd/main.go
Labels: backend

contextの名前を変える
  backend/state-manager/cmd/main.go
Labels: backend

DBとmqttのコネクションを使い回すようにした
  backend/state-manager/cmd/main.go
Labels: backend

Fix MQTT error and add error logging
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

databaseがctxを受けるようにする
  backend/onetime/seed-data/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

Fix MQTT connection and error handling
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

めっちゃマージミスっててウケる
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

run gofmt
  backend/state-manager/pkg/connect/connect_handler.go
Labels: backend

add ts
  frontend/dashboard/app/test/page.tsx
Labels: none

add ts
  frontend/dashboard/app/test/page.tsx
Labels: none

Update buf.gen.yaml and page.tsx files
  backend/spec/state/v1/statev1connect/state.connect.go
  frontend/dashboard/app/test/page.tsx
  frontend/dashboard/proto/state/v1/block_pb.d.ts
  frontend/dashboard/proto/state/v1/block_pb.js
  frontend/dashboard/proto/state/v1/point_pb.d.ts
  frontend/dashboard/proto/state/v1/point_pb.js
  frontend/dashboard/proto/state/v1/state_connectweb.d.ts
  frontend/dashboard/proto/state/v1/state_connectweb.js
  frontend/dashboard/proto/state/v1/stop_pb.d.ts
  frontend/dashboard/proto/state/v1/stop_pb.js
  frontend/dashboard/proto/state/v1/train_pb.d.ts
  frontend/dashboard/proto/state/v1/train_pb.js
  proto/buf.gen.yaml
Labels: backend

Update buf.gen.yaml and page.tsx files
  backend/spec/state/v1/statev1connect/state.connect.go
  frontend/dashboard/app/test/page.tsx
  frontend/dashboard/proto/state/v1/block_pb.d.ts
  frontend/dashboard/proto/state/v1/block_pb.js
  frontend/dashboard/proto/state/v1/point_pb.d.ts
  frontend/dashboard/proto/state/v1/point_pb.js
  frontend/dashboard/proto/state/v1/state_connectweb.d.ts
  frontend/dashboard/proto/state/v1/state_connectweb.js
  frontend/dashboard/proto/state/v1/stop_pb.d.ts
  frontend/dashboard/proto/state/v1/stop_pb.js
  frontend/dashboard/proto/state/v1/train_pb.d.ts
  frontend/dashboard/proto/state/v1/train_pb.js
  proto/buf.gen.yaml
Labels: backend

fix middleware load order
  backend/state-manager/cmd/main.go
Labels: backend

fix middleware load order
  backend/state-manager/cmd/main.go
Labels: backend

fix called method
  backend/state-manager/cmd/main.go
Labels: backend

fix called method
  backend/state-manager/cmd/main.go
Labels: backend

-
  hardware/esp32-cam-udp/platformio.ini
  hardware/esp32-cam-udp/src/main.cpp
Labels: hardware

-
  hardware/esp32-cam-udp/platformio.ini
  hardware/esp32-cam-udp/src/main.cpp
Labels: hardware

fix loglevel
  backend/state-manager/cmd/main.go
Labels: backend

fix loglevel
  backend/state-manager/cmd/main.go
Labels: backend

Update dependencies in go.mod
  go.mod
  go.sum
Labels: none

Update dependencies in go.mod
  go.mod
  go.sum
Labels: none
