Repository ueckoken/plarail2023, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, dashboard, video-sender, infura, cicd, documentation

.github/labeler.yml:

backend:
  - any:
      - "backend/**"
dashboard:
  - any:
      - "frontend/dashboard/**"
      - "frontend/editor/**"
video-sender:
  - any:
      - "frontend/video-sender/**"
infura:
  - any:
      - "infura/**"
cicd:
  - .github/**/*
documentation:
  - README.md
  - "documents/**/*"

graceful shutdownに対応する
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

graceful shutdownに対応する
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

update gomod
  go.mod
  go.sum
Labels: none

update gomod
  go.mod
  go.sum
Labels: none

delete unused import
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

delete unused import
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

delete unused import
  backend/state-manager/pkg/connect/connect_handler.go
Labels: backend

delete unused import
  backend/state-manager/pkg/connect/connect_handler.go
Labels: backend

一応contextも受ける
  backend/state-manager/pkg/connect/connect_handler.go
Labels: backend

一応contextも受ける
  backend/state-manager/pkg/connect/connect_handler.go
Labels: backend

http routerをgo-chiにしてpprofを吐くようにする
  backend/state-manager/pkg/connect/connect_handler.go
  go.mod
  go.sum
Labels: backend

http routerをgo-chiにしてpprofを吐くようにする
  backend/state-manager/pkg/connect/connect_handler.go
  go.mod
  go.sum
Labels: backend

movedir
  backend/onetime/seed-data/data/nt-tokyo.yaml
  backend/onetime/seed-data/main.go
Labels: backend

movedir
  backend/onetime/seed-data/data/nt-tokyo.yaml
  backend/onetime/seed-data/main.go
Labels: backend

add linter
  .github/workflows/test-go.yaml
  .golangci.yaml
Labels: cicd

fiix
  .github/workflows/test-go.yaml
Labels: cicd

connect_handlerにロガーを仕込む。
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  go.mod
  go.sum
Labels: backend

connect_handlerにロガーを仕込む。
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  go.mod
  go.sum
Labels: backend

use slog
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  go.mod
  go.sum
Labels: backend

use slog
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  go.mod
  go.sum
Labels: backend

add test
  .github/workflows/test-go.yaml
Labels: cicd

fix test
  .github/workflows/test-go.yaml
  backend/state-manager/pkg/db/db_test.go
Labels: backend, cicd

add git-pr-release
  .github/workflows/create-release-pr.yml
Labels: cicd

add git-pr-release
  .github/workflows/create-release-pr.yml
Labels: cicd

Add switch and MQTT settings
  hardware/esp32-control/.vscode/settings.json
  hardware/esp32-control/src/main.cpp
  hardware/esp32-control/src/mqtt_settings.h
  hardware/esp32-control/src/settings.hpp
  hardware/esp32-control/src/switch.cpp
  hardware/esp32-control/src/switch.hpp
Labels: none

Add switch and MQTT settings
  hardware/esp32-control/.vscode/settings.json
  hardware/esp32-control/src/main.cpp
  hardware/esp32-control/src/mqtt_settings.h
  hardware/esp32-control/src/settings.hpp
  hardware/esp32-control/src/switch.cpp
  hardware/esp32-control/src/switch.hpp
Labels: none

イメージタグ名でdeploymentブランチであることを表現する
  .github/workflows/publish-images.yml
Labels: cicd

イメージタグ名でdeploymentブランチであることを表現する
  .github/workflows/publish-images.yml
Labels: cicd

add setting
  backend/state-manager/settings/esp/sakurajosui.json
Labels: backend

add setting
  backend/state-manager/settings/esp/sakurajosui.json
Labels: backend

Update dependencies and remove unnecessary code
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
  hardware/esp32-control/.vscode/settings.json
  hardware/esp32-control/Makefile
  hardware/esp32-control/README.md
  hardware/esp32-control/data/setting.json
  hardware/esp32-control/platformio.ini
  hardware/esp32-control/src/IOManager.cpp
  hardware/esp32-control/src/IOManager.h
  hardware/esp32-control/src/MQTTSetting.h
  hardware/esp32-control/src/PassDetector.cpp
  hardware/esp32-control/src/PassDetector.h
  hardware/esp32-control/src/PointRail.cpp
  hardware/esp32-control/src/PointRail.h
  hardware/esp32-control/src/SettingLoader.cpp
  hardware/esp32-control/src/SettingLoader.h
  hardware/esp32-control/src/Settings.h
  hardware/esp32-control/src/StopRail.cpp
  hardware/esp32-control/src/StopRail.h
  hardware/esp32-control/src/TopicRouter.cpp
  hardware/esp32-control/src/TopicRouter.h
  hardware/esp32-control/src/main.cpp
  hardware/esp32-control/src/mqtt_settings.h
  hardware/esp32-control/src/settings.hpp
  hardware/esp32-control/src/switch.cpp
  hardware/esp32-control/src/switch.hpp
Labels: backend

Update dependencies and remove unnecessary code
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
  hardware/esp32-control/.vscode/settings.json
  hardware/esp32-control/Makefile
  hardware/esp32-control/README.md
  hardware/esp32-control/data/setting.json
  hardware/esp32-control/platformio.ini
  hardware/esp32-control/src/IOManager.cpp
  hardware/esp32-control/src/IOManager.h
  hardware/esp32-control/src/MQTTSetting.h
  hardware/esp32-control/src/PassDetector.cpp
  hardware/esp32-control/src/PassDetector.h
  hardware/esp32-control/src/PointRail.cpp
  hardware/esp32-control/src/PointRail.h
  hardware/esp32-control/src/SettingLoader.cpp
  hardware/esp32-control/src/SettingLoader.h
  hardware/esp32-control/src/Settings.cpp
  hardware/esp32-control/src/Settings.h
  hardware/esp32-control/src/StopRail.cpp
  hardware/esp32-control/src/StopRail.h
  hardware/esp32-control/src/TopicRouter.cpp
  hardware/esp32-control/src/TopicRouter.h
  hardware/esp32-control/src/main.cpp
  hardware/esp32-control/src/mqtt_settings.h
  hardware/esp32-control/src/settings.hpp
  hardware/esp32-control/src/switch.cpp
  hardware/esp32-control/src/switch.hpp
Labels: backend

Refactor loadSetting function to use pointer for IOManager
  hardware/esp32-control/src/SettingLoader.cpp
  hardware/esp32-control/src/SettingLoader.h
  hardware/esp32-control/src/main.cpp
Labels: none

Refactor loadSetting function to use pointer for IOManager
  hardware/esp32-control/src/SettingLoader.cpp
  hardware/esp32-control/src/SettingLoader.h
  hardware/esp32-control/src/main.cpp
Labels: none

NFCReaderとPassDetectorを追加
  hardware/esp32-control/platformio.ini
  hardware/esp32-control/src/IOManager.cpp
  hardware/esp32-control/src/IOManager.h
  hardware/esp32-control/src/NFCReader.cpp
  hardware/esp32-control/src/NFCReader.h
  hardware/esp32-control/src/PassDetector.cpp
  hardware/esp32-control/src/PassDetector.h
  hardware/esp32-control/src/SettingLoader.cpp
  hardware/esp32-control/src/Settings.cpp
  hardware/esp32-control/src/Settings.h
  hardware/esp32-control/src/main.cpp
Labels: none

NFCReaderとPassDetectorを追加
  hardware/esp32-control/platformio.ini
  hardware/esp32-control/src/IOManager.cpp
  hardware/esp32-control/src/IOManager.h
  hardware/esp32-control/src/NFCReader.cpp
  hardware/esp32-control/src/NFCReader.h
  hardware/esp32-control/src/PassDetector.cpp
  hardware/esp32-control/src/PassDetector.h
  hardware/esp32-control/src/SettingLoader.cpp
  hardware/esp32-control/src/Settings.h
  hardware/esp32-control/src/main.cpp
Labels: none

Fix bug in login functionality
  .github/workflows/esp-build-check.yaml
Labels: cicd

Fix bug in login functionality
  .github/workflows/esp-build-check.yaml
Labels: cicd

Delete ESP build check workflow
  .github/workflows/esp32-cam-udp-build-check.yaml
  .github/workflows/esp32-control-build-check.yaml
Labels: cicd

Delete ESP build check workflow
  .github/workflows/esp32-cam-udp-build-check.yaml
  .github/workflows/esp32-control-build-check.yaml
Labels: cicd
