Repository ueckoken/plarail2023, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, dashboard, video-sender, infura, cicd, documentation

.github/labeler.yml:

backend:
  - any:
      - "backend/**"
dashboard:
  - any:
      - "frontend/editor/**"
video-sender:
  - any:
      - "frontend/video-sender/**"
infura:
  - any:
      - "infura/**"
cicd:
  - .github/**/*
documentation:
  - README.md
  - "documents/**/*"

add files
  frontend/editor/.gitignore
  frontend/editor/package-lock.json
  frontend/editor/package.json
  frontend/editor/tsconfig.json
Labels: dashboard

add files
  frontend/editor/.gitignore
  frontend/editor/package-lock.json
  frontend/editor/package.json
  frontend/editor/tsconfig.json
Labels: dashboard

build protobuf in actions
  .github/workflows/create-proto.yaml
  proto/buf.gen.yaml
Labels: cicd

build protobuf in actions
  .github/workflows/create-proto.yaml
  proto/buf.gen.yaml
Labels: cicd

Commit from GitHub Actions (compile_PB)
  backend/state-manager/spec/state/v1/block.pb.go
  backend/state-manager/spec/state/v1/point.pb.go
  backend/state-manager/spec/state/v1/state.pb.go
  backend/state-manager/spec/state/v1/statev1connect/state.connect.go
  backend/state-manager/spec/state/v1/stop.pb.go
  backend/state-manager/spec/state/v1/train.pb.go
Labels: backend

Commit from GitHub Actions (compile_PB)
  backend/state-manager/spec/state/v1/block.pb.go
  backend/state-manager/spec/state/v1/point.pb.go
  backend/state-manager/spec/state/v1/state.pb.go
  backend/state-manager/spec/state/v1/statev1connect/state.connect.go
  backend/state-manager/spec/state/v1/stop.pb.go
  backend/state-manager/spec/state/v1/train.pb.go
Labels: backend

fix
  backend/spec/go.mod
  backend/spec/go.sum
  backend/spec/state/v1/block.pb.go
  backend/spec/state/v1/point.pb.go
  backend/spec/state/v1/state.pb.go
  backend/spec/state/v1/statev1connect/state.connect.go
  backend/spec/state/v1/stop.pb.go
  backend/spec/state/v1/train.pb.go
  backend/state-manager/cmd/seed.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  backend/state-manager/pkg/db/db_test.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend

fix
  backend/spec/go.mod
  backend/spec/go.sum
  backend/spec/state/v1/block.pb.go
  backend/spec/state/v1/point.pb.go
  backend/spec/state/v1/state.pb.go
  backend/spec/state/v1/statev1connect/state.connect.go
  backend/spec/state/v1/stop.pb.go
  backend/spec/state/v1/train.pb.go
  backend/state-manager/cmd/seed.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  backend/state-manager/pkg/db/db_test.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
Labels: backend
