Repository ueckoken/plarail2023, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, hardware, dashboard, video-sender, infura, cicd, documentation

add ts
  frontend/dashboard/app/test/page.tsx
Labels: none

add typescript buf
  frontend/dashboard/package.json
  frontend/dashboard/proto/state/v1/block_pb.ts
  frontend/dashboard/proto/state/v1/point_pb.ts
  frontend/dashboard/proto/state/v1/state_connectweb.ts
  frontend/dashboard/proto/state/v1/stop_pb.ts
  frontend/dashboard/proto/state/v1/train_pb.ts
  pnpm-lock.yaml
  proto/Makefile
  proto/buf.gen.yaml
Labels: none

add ts
  frontend/dashboard/app/test/page.tsx
Labels: none

add typescript buf
  frontend/dashboard/package.json
  frontend/dashboard/proto/state/v1/block_pb.ts
  frontend/dashboard/proto/state/v1/point_pb.ts
  frontend/dashboard/proto/state/v1/state_connectweb.ts
  frontend/dashboard/proto/state/v1/stop_pb.ts
  frontend/dashboard/proto/state/v1/train_pb.ts
  pnpm-lock.yaml
  proto/Makefile
  proto/buf.gen.yaml
Labels: none

Update dependencies in go.mod
  go.mod
  go.sum
Labels: none

Update dependencies in go.mod
  go.mod
  go.sum
Labels: none

Update buf.gen.yaml and page.tsx files
  backend/spec/state/v1/statev1connect/state.connect.go
  frontend/dashboard/app/test/page.tsx
  frontend/dashboard/proto/state/v1/block_pb.d.ts
  frontend/dashboard/proto/state/v1/block_pb.js
  frontend/dashboard/proto/state/v1/point_pb.d.ts
  frontend/dashboard/proto/state/v1/point_pb.js
  frontend/dashboard/proto/state/v1/state_connectweb.d.ts
  frontend/dashboard/proto/state/v1/state_connectweb.js
  frontend/dashboard/proto/state/v1/stop_pb.d.ts
  frontend/dashboard/proto/state/v1/stop_pb.js
  frontend/dashboard/proto/state/v1/train_pb.d.ts
  frontend/dashboard/proto/state/v1/train_pb.js
  proto/buf.gen.yaml
Labels: backend

Update buf.gen.yaml and page.tsx files
  backend/spec/state/v1/statev1connect/state.connect.go
  frontend/dashboard/app/test/page.tsx
  frontend/dashboard/proto/state/v1/block_pb.d.ts
  frontend/dashboard/proto/state/v1/block_pb.js
  frontend/dashboard/proto/state/v1/point_pb.d.ts
  frontend/dashboard/proto/state/v1/point_pb.js
  frontend/dashboard/proto/state/v1/state_connectweb.d.ts
  frontend/dashboard/proto/state/v1/state_connectweb.js
  frontend/dashboard/proto/state/v1/stop_pb.d.ts
  frontend/dashboard/proto/state/v1/stop_pb.js
  frontend/dashboard/proto/state/v1/train_pb.d.ts
  frontend/dashboard/proto/state/v1/train_pb.js
  proto/buf.gen.yaml
Labels: backend

fix bugs
  backend/spec/state/v1/statev1connect/state.connect.go
  backend/state-manager/pkg/connect/connect_handler.go
  go.mod
  go.sum
Labels: backend

fix bugs
  backend/spec/state/v1/statev1connect/state.connect.go
  backend/state-manager/pkg/connect/connect_handler.go
  go.mod
  go.sum
Labels: backend

update lock
  pnpm-lock.yaml
Labels: none

update lock
  pnpm-lock.yaml
Labels: none

add simple handler example
  backend/state-manager/cmd/main.go
  frontend/dashboard/app/test/page.tsx
  go.mod
  go.sum
Labels: backend

add simple handler example
  backend/state-manager/cmd/main.go
  frontend/dashboard/app/test/page.tsx
  go.mod
  go.sum
Labels: backend

update proto generate
  .github/workflows/create-proto.yaml
Labels: cicd

update proto generate
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

fix bug
  .github/workflows/create-proto.yaml
Labels: cicd

remove pnpm
  .github/workflows/create-proto.yaml
Labels: cicd

remove pnpm
  .github/workflows/create-proto.yaml
Labels: cicd

Commit from GitHub Actions (compile_PB)
  backend/spec/state/v1/statev1connect/state.connect.go
  frontend/dashboard/yarn.lock
Labels: backend

Commit from GitHub Actions (compile_PB)
  backend/spec/state/v1/statev1connect/state.connect.go
  frontend/dashboard/yarn.lock
Labels: backend

Update connect-go dependency to v1.12.0
  backend/state-manager/pkg/connect/connect_handler.go
  go.mod
  go.sum
Labels: backend

Update connect-go dependency to v1.12.0
  backend/state-manager/pkg/connect/connect_handler.go
  go.mod
  go.sum
Labels: backend

update proto
  proto/spec/state/v1/train.proto
Labels: none

update proto
  proto/spec/state/v1/train.proto
Labels: none

Commit from GitHub Actions (compile_PB)
  backend/spec/state/v1/train.pb.go
  frontend/dashboard/proto/state/v1/train_pb.d.ts
  frontend/dashboard/proto/state/v1/train_pb.js
Labels: backend

Commit from GitHub Actions (compile_PB)
  backend/spec/state/v1/train.pb.go
  frontend/dashboard/proto/state/v1/train_pb.d.ts
  frontend/dashboard/proto/state/v1/train_pb.js
Labels: backend

.github/labeler.yml:

backend:
  - any:
      - "backend/**"

hardware:
  - any:
      - "hardware/**"

dashboard:
  - any:
      - "frontend/dashboard/**"
      - "frontend/editor/**"
video-sender:
  - any:
      - "frontend/video-sender/**"
infura:
  - any:
      - "infura/**"
cicd:
  - .github/**/*
documentation:
  - README.md
  - "documents/**/*"
