Repository ueckoken/plarail2023, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, dashboard, video-sender, infura, cicd, documentation

.github/labeler.yml:

backend:
  - any:
      - "backend/**"
dashboard:
  - any:
      - "frontend/dashboard/**"
      - "frontend/editor/**"
video-sender:
  - any:
      - "frontend/video-sender/**"
infura:
  - any:
      - "infura/**"
cicd:
  - .github/**/*
documentation:
  - README.md
  - "documents/**/*"

-
  hardware/esp32-cam-udp/node_modules/.package-lock.json
  hardware/esp32-cam-udp/node_modules/ws/LICENSE
  hardware/esp32-cam-udp/node_modules/ws/README.md
  hardware/esp32-cam-udp/node_modules/ws/browser.js
  hardware/esp32-cam-udp/node_modules/ws/index.js
  hardware/esp32-cam-udp/node_modules/ws/lib/buffer-util.js
  hardware/esp32-cam-udp/node_modules/ws/lib/constants.js
  hardware/esp32-cam-udp/node_modules/ws/lib/event-target.js
  hardware/esp32-cam-udp/node_modules/ws/lib/extension.js
  hardware/esp32-cam-udp/node_modules/ws/lib/limiter.js
  hardware/esp32-cam-udp/node_modules/ws/lib/permessage-deflate.js
  hardware/esp32-cam-udp/node_modules/ws/lib/receiver.js
  hardware/esp32-cam-udp/node_modules/ws/lib/sender.js
  hardware/esp32-cam-udp/node_modules/ws/lib/stream.js
  hardware/esp32-cam-udp/node_modules/ws/lib/subprotocol.js
  hardware/esp32-cam-udp/node_modules/ws/lib/validation.js
  hardware/esp32-cam-udp/node_modules/ws/lib/websocket-server.js
  hardware/esp32-cam-udp/node_modules/ws/lib/websocket.js
  hardware/esp32-cam-udp/node_modules/ws/package.json
  hardware/esp32-cam-udp/node_modules/ws/wrapper.mjs
Labels: none

-
  hardware/esp32-cam-udp/node_modules/.package-lock.json
  hardware/esp32-cam-udp/node_modules/ws/LICENSE
  hardware/esp32-cam-udp/node_modules/ws/README.md
  hardware/esp32-cam-udp/node_modules/ws/browser.js
  hardware/esp32-cam-udp/node_modules/ws/index.js
  hardware/esp32-cam-udp/node_modules/ws/lib/buffer-util.js
  hardware/esp32-cam-udp/node_modules/ws/lib/constants.js
  hardware/esp32-cam-udp/node_modules/ws/lib/event-target.js
  hardware/esp32-cam-udp/node_modules/ws/lib/extension.js
  hardware/esp32-cam-udp/node_modules/ws/lib/limiter.js
  hardware/esp32-cam-udp/node_modules/ws/lib/permessage-deflate.js
  hardware/esp32-cam-udp/node_modules/ws/lib/receiver.js
  hardware/esp32-cam-udp/node_modules/ws/lib/sender.js
  hardware/esp32-cam-udp/node_modules/ws/lib/stream.js
  hardware/esp32-cam-udp/node_modules/ws/lib/subprotocol.js
  hardware/esp32-cam-udp/node_modules/ws/lib/validation.js
  hardware/esp32-cam-udp/node_modules/ws/lib/websocket-server.js
  hardware/esp32-cam-udp/node_modules/ws/lib/websocket.js
  hardware/esp32-cam-udp/node_modules/ws/package.json
  hardware/esp32-cam-udp/node_modules/ws/wrapper.mjs
Labels: none

write dockerfile for backend/state-manager
  docker/backend/state-manager/Dockerfile
Labels: none

write dockerfile for backend/state-manager
  docker/backend/state-manager/Dockerfile
Labels: none

write docker bake
  docker-bake.hcl
Labels: none

write docker bake
  docker-bake.hcl
Labels: none

Actionsでイメージをプッシュするようにした
  .github/workflows/publish-images.yml
  Makefile
  backend/state-manager/Dockerfile
  compose.debug.yaml
  compose.yaml
Labels: backend, cicd

Actionsでイメージをプッシュするようにした
  .github/workflows/publish-images.yml
  Makefile
  backend/state-manager/Dockerfile
  compose.debug.yaml
  compose.yaml
Labels: backend, cicd

PRで作れるか試してみる
  .github/workflows/publish-images.yml
Labels: cicd

push: trueしてみる
  .github/workflows/publish-images.yml
Labels: cicd

-
  hardware/esp32-cam-udp/.gitignore
  hardware/esp32-cam-udp/package-lock.json
  hardware/esp32-cam-udp/src/main.cpp
  hardware/esp32-cam-udp/svr.mjs
Labels: none

-
  hardware/esp32-cam-udp/.gitignore
  hardware/esp32-cam-udp/package-lock.json
  hardware/esp32-cam-udp/src/main.cpp
  hardware/esp32-cam-udp/svr.mjs
Labels: none

delete bun as a package manager
  frontend/dashboard/bun.lockb
  frontend/dashboard/pnpm-lock.yaml
Labels: none

delete bun as a package manager
  frontend/dashboard/bun.lockb
  frontend/dashboard/pnpm-lock.yaml
Labels: none

useWorkspace
  .gitignore
  frontend/dashboard/package-lock.json
  frontend/dashboard/pnpm-lock.yaml
  frontend/editor/package-lock.json
  frontend/video-sender/package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: video-sender

useWorkspace
  .gitignore
  frontend/dashboard/package-lock.json
  frontend/dashboard/pnpm-lock.yaml
  frontend/editor/package-lock.json
  frontend/video-sender/package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: video-sender

use exact versioning
  frontend/dashboard/package.json
  frontend/editor/package.json
  pnpm-lock.yaml
Labels: none

use exact versioning
  frontend/dashboard/package.json
  frontend/editor/package.json
  pnpm-lock.yaml
Labels: none

write dashboard dockerfile
  .dockerignore
  .gitignore
  docker/frontend/dashboard/Dockerfile
  frontend/dashboard/next.config.js
  frontend/dashboard/package.json
Labels: none

write dashboard dockerfile
  .dockerignore
  .gitignore
  docker/frontend/dashboard/Dockerfile
  frontend/dashboard/next.config.js
  frontend/dashboard/package.json
Labels: none

ghcrにプッシュする
  .github/workflows/publish-images.yml
  docker-bake.hcl
Labels: cicd

ghcrにプッシュする
  .github/workflows/publish-images.yml
  docker-bake.hcl
Labels: cicd

fix
  .github/workflows/publish-images.yml
Labels: cicd

fix
  .github/workflows/publish-images.yml
Labels: cicd

辛い
  .github/workflows/publish-images.yml
Labels: cicd

辛い
  .github/workflows/publish-images.yml
Labels: cicd

fix
  .github/workflows/publish-images.yml
  docker-bake.hcl
Labels: cicd

fix
  .github/workflows/publish-images.yml
  docker-bake.hcl
Labels: cicd

コメント書く
  .github/workflows/publish-images.yml
Labels: cicd

コメント書く
  .github/workflows/publish-images.yml
Labels: cicd

pass gha token
  .github/workflows/publish-images.yml
Labels: cicd

pass gha token
  .github/workflows/publish-images.yml
Labels: cicd

かっこが1つ多かった
  .github/workflows/publish-images.yml
Labels: cicd

かっこが1つ多かった
  .github/workflows/publish-images.yml
Labels: cicd

終了条件が違う
  .github/workflows/publish-images.yml
Labels: cicd

終了条件が違う
  .github/workflows/publish-images.yml
Labels: cicd

publicディレクトリも移動する
  docker/frontend/dashboard/Dockerfile
Labels: none

publicディレクトリも移動する
  docker/frontend/dashboard/Dockerfile
Labels: none

contextを受ける
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
Labels: backend

contextを受ける
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
Labels: backend
