Repository ueckoken/plarail2023, pull requests merged in 2023-11, with the labels that each got.

#198 フロントエンドのBootstrapを作成
  .github/labeler.yml
  frontend/dashboard/.gitignore
  frontend/dashboard/README.md
  frontend/dashboard/app/favicon.ico
  frontend/dashboard/app/globals.css
  frontend/dashboard/app/layout.tsx
  frontend/dashboard/app/page.module.css
  frontend/dashboard/app/page.tsx
  frontend/dashboard/bun.lockb
  frontend/dashboard/next.config.js
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
  frontend/dashboard/public/next.svg
  frontend/dashboard/public/vercel.svg
  frontend/dashboard/tsconfig.json
  frontend/editor/.gitignore
  frontend/editor/components/MapParts.tsx
  frontend/editor/components/forms/PlatformComponentForm.tsx
  frontend/editor/next-env.d.ts
  frontend/editor/package-lock.json
  frontend/editor/package.json
  frontend/editor/pages/mapEditer.tsx
  frontend/editor/tsconfig.json
  frontend/editor/types/svgPartsTypes.ts
  frontend/editor/utils/util.ts
  infra/manifests/infra/helm/dashboard/release.yaml
Labels: cicd

#201 state-managerのDockerfileを書いてActionsでghcrにプッシュするようにした
  .github/workflows/publish-images.yml
  Makefile
  backend/state-manager/Dockerfile
  compose.debug.yaml
  compose.yaml
  docker-bake.hcl
  docker/backend/state-manager/Dockerfile
Labels: cicd, backend

#203 [思想バトル]delete bun as a package manager
  .gitignore
  frontend/dashboard/bun.lockb
  frontend/dashboard/package-lock.json
  frontend/dashboard/package.json
  frontend/editor/package-lock.json
  frontend/editor/package.json
  frontend/video-sender/package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: video-sender

#208 state managerがSIGTERMなどを受けてgraceful shutdownするようにした
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
  go.mod
  go.sum
Labels: backend

#205 write dashboard dockerfile
  .dockerignore
  .github/workflows/publish-images.yml
  .gitignore
  docker-bake.hcl
  docker/frontend/dashboard/Dockerfile
  frontend/dashboard/next.config.js
  frontend/dashboard/package.json
Labels: cicd

#212 package main以下に複数のmain関数があったので分ける
  backend/onetime/seed-data/data/nt-tokyo.yaml
  backend/onetime/seed-data/main.go
Labels: backend

#214 http routerをgo-chiにしてpprofを吐くようにする
  backend/state-manager/pkg/connect/connect_handler.go
  go.mod
  go.sum
Labels: backend

#223 リリースPRを自動で作成する
  .github/workflows/create-release-pr.yml
Labels: cicd

#219 use slog
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  go.mod
  go.sum
Labels: backend

#228 BREAKING! イメージタグ名でdeploymentブランチであることを表現する
  .github/workflows/publish-images.yml
Labels: cicd

#244 Remove ESP32 Cam UDP CI workflow
  .github/workflows/esp32-cam-udp-build-check.yaml
Labels: cicd

#229 DBとmqttのコネクションを使い回すようにした
  backend/onetime/seed-data/main.go
  backend/state-manager/cmd/main.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  backend/state-manager/pkg/db/db_test.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler.go
  backend/state-manager/pkg/mqtt_handler/mqtt_handler_test.go
  backend/state-manager/pkg/operation/operation.go
Labels: backend

#245 fix middleware load order
  backend/state-manager/cmd/main.go
Labels: backend

#248 support-xiaoEsp32s3Sense
  hardware/esp32-cam-udp/platformio.ini
  hardware/esp32-cam-udp/src/main.cpp
Labels: hardware

#253 Update connect
  backend/spec/state/v1/state.pb.go
  backend/spec/state/v1/statev1connect/state.connect.go
  backend/spec/state/v1/train.pb.go
  backend/state-manager/pkg/connect/connect_handler.go
  backend/state-manager/pkg/db/db.go
  frontend/dashboard/proto/state/v1/state_connectweb.d.ts
  frontend/dashboard/proto/state/v1/state_connectweb.js
  frontend/dashboard/proto/state/v1/train_pb.d.ts
  frontend/dashboard/proto/state/v1/train_pb.js
  proto/spec/state/v1/state.proto
  proto/spec/state/v1/train.proto
Labels: backend

#259 auto-operationのイメージ作る
  .github/workflows/create-proto.yaml
  backend/auto-operation/.gitignore
  backend/auto-operation/main.ts
  backend/auto-operation/package.json
  backend/auto-operation/proto/state/v1/state_connect.d.ts
  backend/auto-operation/proto/state/v1/state_connect.js
  backend/auto-operation/tsconfig.json
  docker-bake.hcl
  docker/backend/auto-operation/Dockerfile
  docker/frontend/dashboard/Dockerfile
  frontend/dashboard/package.json
  frontend/dashboard/src/app/provider.tsx
  frontend/dashboard/src/app/test/page.tsx
  frontend/dashboard/src/proto/state/v1/state_connect.ts
  frontend/dashboard/yarn.lock
  pnpm-lock.yaml
  pnpm-workspace.yaml
  proto/buf.gen.yaml
Labels: cicd, backend
